:root {
  --white: #FFF;
  --lightBlue: #E6F7FF;
  --blue: #1890ff;
  --darkBlue: #062847;
  --lightGrey: #F5F5F5;
  --textColor: #5A6774;
  --InputTextColor: #737373;
  --InputBorderColor: #BFBFBF;
  --titleColor: #262626;
}