@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
  font-family: 'Roboto', sans-serif !important;
  font-family: 'Red Hat Display', sans-serif;
  box-sizing: border-box;
}

html {
  width: 1440px;
}

img {
  display: block;
  width: 100%;
}